node_modules
dist
.next
out
.turbo
*.log
.DS_Store
.env.local
.encore
encore.gen.ts
encore.gen
**/encore.gen/**
desktop/dist
web/.next
shared/dist
*.tsbuildinfo
web/tsconfig.tsbuildinfo
web/.env.local
